html, body {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 15px;
}
body {
    background: url("../img/noise.jpg");
}
.img {
    width: 185px;
    margin-top: 15px;
}
.about {
    float: left;
    margin-left: 22%;
}
h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: White;
    background-color: Grey;
    padding-left: 3px;
    font-weight: 500;
    padding: 5px;
}
pre,p {
     font-family: 'Ubuntu', sans-serif;
     font-size: 18px;
     padding-left: 3px;
     word-wrap: break-word;
     word-spacing: 0.5em;
     line-height: 1.4em;
}
.bold {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
       
a {
    font-family: 'Ubuntu', sans-serif;
    color: #000080; 
    padding: 2px; 
}
       
a:visited {
    color: #800080; 
} 
      
a:hover {
    text-decoration: none;
     color: White;  
     background: Grey; 
   }

