body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

ul,
li {
  list-style: none; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

section {
  padding: 50px 0 90px 0; }
  section h2 {
    background: url("../img/waves.png") no-repeat center top;
    text-align: center;
    font-size: 30px;
    color: #2c2e37;
    font-weight: 700;
    padding: 30px 0;
    text-transform: uppercase; }

.main_head {
  min-height: 620px;
  padding-top: 30px; }

.loader {
  background: none repeat scroll 0 0 #fff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.logo_container {
  float: left; }

.logo_container img {
  margin-top: 7px; }

.toggle_mnu {
  width: 40px;
  height: 40px;
  float: right;
  position: fixed;
  right: 10%;
  z-index: 100;
  border: none;
  background-color: grey; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: -10px;
  width: 30px;
  height: 3px;
  background: #56c7ff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s; }

.sw-bottom {
  position: relative;
  width: 30px;
  height: 3px;
  top: -4px;
  background: #56c7ff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 30px;
  height: 3px;
  top: 2px;
  background: #56c7ff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 1px;
  transform: rotate(140deg); }
.sandwich.active .sw-bottom {
  top: -3px;
  transform: rotate(-140deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.85);
  right: 0;
  top: 0;
  display: none; }
  .top_mnu ul,
  .top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    display: inline-block; }
  .top_mnu ul {
    margin-left: 20%;
    margin-top: 2.5%; }
    .top_mnu ul a {
      font-size: 12px;
      display: block;
      margin-left: 25px;
      padding: 5px 0;
      color: #9daeb6;
      font-weight: 700;
      font-family: "Open Sans", sans-serif; }
    .top_mnu ul a:hover {
      border-bottom: 2px solid #36aeea; }

.top_wrapper {
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: left;
      vertical-align: middle; }
  .top_wrapper .top_text {
    display: inline-block;
    margin-left: 5%;
    border: 3px solid #fff;
    border-top: none;
    width: 90%;
    padding: 30px; }
    .top_wrapper .top_text h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 3.85em;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      line-height: 32px;
      letter-spacing: 2px;
      margin: 0; }
      .top_wrapper .top_text h1 span {
        font-family: "Bringin";
        font-size: 1.15em;
        font-weight: 400;
        color: #56c7ff;
        text-transform: initial; }
    .top_wrapper .top_text p {
      font-size: 1.2em;
      color: #fff;
      font-weight: 400;
      opacity: 0.75;
      margin-bottom: 40px;
      margin-top: 30px; }
    .top_wrapper .top_text a {
      background-color: #36aeea;
      border-radius: 4px;
      box-shadow: 0 0 35px rgba(3, 3, 3, 0.06);
      padding: 15px 30px;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Raleway", sans-serif; }

#about_us {
  background: url("../img/aboutUs/aboutUs_bg.png") no-repeat;
  background-color: #f6f4f4;
  overflow: hidden;
  background-position: right 20%; }

.s_aboutUs {
  min-height: 660px; }

.aboutUs_text {
  font-family: "Open Sans", sans-serif;
  width: 35%;
  position: absolute;
  bottom: 43%;
  left: 2%; }
  .aboutUs_text h3 {
    background: url("../img/waves.png") no-repeat;
    font-size: 20px;
    color: #2c2e37;
    font-weight: 700;
    padding-top: 30px;
    text-transform: uppercase; }
  .aboutUs_text p {
    font-size: 14px;
    font-weight: 400;
    color: #949494; }
  .aboutUs_text a {
    background-color: #36aeea;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    padding: 10px 20px; }

.aboutUs_small,
.aboutUs_big {
  position: absolute; }

.aboutUs_big {
  right: -18%;
  top: -5%; }

.aboutUs_small {
  z-index: 1;
  left: 41%;
  bottom: 8%; }

.articles {
  height: 760px;
  width: 1140px;
  position: relative;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }

.article {
  position: absolute;
  text-align: center;
  font-family: "Open Sans", sans-serif; }
  .article h4 {
    color: #212121;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px;
    padding: 0 50px; }
  .article p {
    color: #777;
    font-size: 15px;
    font-weight: 400;
    padding: 0 25px; }

.article_first {
  width: 66.66667%;
  height: 50%;
  top: 0;
  left: 0;
  padding-left: 33.3333%; }
  .article_first img {
    position: absolute;
    left: 0; }

.article_second {
  width: 66.66667%;
  height: 50%;
  bottom: 0;
  left: 0;
  padding-right: 33.3333%; }
  .article_second img {
    position: absolute;
    right: 0; }

.article_third {
  width: 33.33333%;
  height: 100%;
  top: 0;
  right: 0;
  padding-top: 33.3333%; }
  .article_third img {
    position: absolute;
    left: 0;
    top: 0; }

.article_top {
  color: #16b5ef;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 40px; }

.article_bottom {
  color: #212121;
  font-family: "Times New Roman";
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  margin-top: 40px; }

.label1:after,
.label2:after,
.label3:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  background-color: #fff;
  transform: rotate(45deg);
  left: 48.85%;
  top: 15%; }

.label3:after {
  left: 18%;
  top: 49%; }

.label1:before,
.label2:before,
.label3:before {
  position: absolute;
  content: "";
  height: 81px;
  width: 81px; }

.label1:before {
  background: url("../img/articles/heart.png") no-repeat;
  left: 19%;
  top: 35%; }

.label2:before {
  background: url("../img/articles/least.png") no-repeat;
  right: 19%;
  top: 40%; }

.label3:before {
  background: url("../img/articles/watter.png") no-repeat;
  top: 19%; }

.dyou_wannago {
  font-family: "Open Sans", sans-serif; }
  .dyou_wannago h3 {
    background: url("../img/waves.png") no-repeat center top;
    text-transform: uppercase;
    color: #2c2e37;
    font-size: 20px;
    font-weight: 700; }
  .dyou_wannago p {
    color: #949494;
    font-size: 16px;
    font-weight: 400; }

/*# sourceMappingURL=main.css.map */
