    //main styles
    .main-wrapper {
      padding: 0 0 0 0;
      min-width: $min-width;
      width: 100%;
      position: relative;
      overflow: hidden;
      min-height: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      background: #222 url('../img/page_bg.png') center center no-repeat;
      background-size: cover;    

      section {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
      }

      .circle,
      .elipse {
        position: absolute;
        top: 50%;
        left: 50%;        

        @media screen and (max-width: 1600px) {
          width: 30%;
        }

        @media screen and (min-width: 1001px) {
          display: block;
        }
      }

      .sideline__right {
        height: 100%;
        border-right: 1px solid rgba(#fff, .25);
        position: absolute;
        right: 83px;
        top: 140px;
        display: none;

        @media screen and (min-width: 1001px) {
          display: block;
        }

        &::before {
          position: absolute;
          width: 7px;
          height: 7px;
          background-color: #fff;
          content: '';
          border-radius: 50%;
          top: 0;
          transform: translate(-50%, 50%);
          left: 0;
        }
      }

      .pagename {
        position: absolute;
        opacity: .02;
        font-family: $ff-bold;
        display: none;
        color: #fff;
        font-size: 24em;
        top: 77px;
        letter-spacing: 9px;
        width: 100%;
        text-align: center;

        img {
          display: inline-block;
          width: calc(100% - 225px);
        }

        @media screen and (min-width: 1001px) {
          display: block;
        }
      }

      .layer-2 {
        background: #222 url('../img/page_bg-elipse.png') left center no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        box-shadow: 35px 0 40px rgba(0, 0, 0, .5);
        display: none;

        @media screen and (min-width: 1001px) {
          display: block;
        }

        &.nothome {
          background: transparent;
          box-shadow: none;
        }

        &.shadow {
          background: transparent;
        }

        .logo {
          &.start {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translate(0, -50%);
            padding-right: 50px;
            text-align: right;

            img {
              display: inline-block;
            }
          }

          &.end {
            position: absolute;
            top: 50%;
            right: -115px;
            transform: translate(0, -50%);

            @media screen and (max-width: 1600px) {
              right: -30%;
              width: 30%;

              img {
                width: 100%;
              }
            }
          }

          &.start,
          &.end {
            img {
              @media screen and (max-width: 1600px) {
                width: 45%;
              }
            }
          }
        }

        .tabtitle-lefted {
          position: absolute;
          bottom: 0;
          color: #fff;
          font-size: 3em;
          height: calc(100% - 400px);
          border-right: 1px solid rgba(#fff, .2);
          width: 155px;
          left: 83px;

          @media screen and (max-width: 1700px) {
            display: none;
          }

          span {
            width: 100%;
            height: 100%;
            position: absolute;
            text-align: right;
            padding: 30px 0;
            padding-right: 45px;

            img {
              height: 100%;
              display: inline-block;
            }
          }
        }

        .side-logo {
          width: 83px;
          height: 100%;          
          position: relative;

          .sideline__left_1 {
            position: absolute;
            top: 0;
            right: 0;            
            border-right: 1px solid rgba(#fff, .15);            

              &::after {
                position: absolute;
                width: 7px;
                height: 7px;
                background-color: #fff;
                content: '';
                border-radius: 50%;
                top: 140px;                
                right: -4px;
              }
          }

          .sideline__left_2 {
            position: absolute;
            top: 271px;
            right: 0;
            border-right: 1px solid rgba(#fff, .15);
          }

          .logo {

            &.bg {
              position: absolute;
              top: 151px;
              left: 0; //transform: translate(-50%, 0);
              background: #070709 url('../img/dots_bg.png') center center no-repeat;
              background-size: cover;
              padding: 13px 0;
              width: calc(100% + 25px);
              height: 120px;
            }            

            span {

            }

            img {
              position: absolute;
              right: -45px;
              top: 195px;              
            }
          }
        }
      }

      /* titles */
      p {
        @include font($base-font-size,
        $base-line-height,
        $text-color);
        padding: 15px 0 15px 0;
        font-weight: 400;
      }

      h1 {
        @include font($font-size-h1,
        $line-height-h1,
        $title-color);
        font-family: $title-font-family;
        padding: 15px 0 15px 0;
        font-weight: 400;
      }

      h2 {
        @include font($font-size-h2,
        $line-height-h2,
        $title-color);
        font-family: $title-font-family;
        padding: 15px 0 15px 0;
        font-weight: 400;
      }

      h3 {
        @include font($font-size-h3,
        $line-height-h3,
        $title-color);
        font-family: $title-font-family;
        padding: 15px 0 15px 0;
        font-weight: 400;
      }
      /* text position */
      .text-left {
        text-align: left!important
      }

      .text-center {
        text-align: center!important
      }

      .text-right {
        text-align: right!important
      }

      .nowrap {
        white-space: nowrap!important;
      }
      /* loader */
      .loaded .main-wrapper {
        visibility: hidden;
      }

      .icon-load {
        background: url(../img/loader.gif) no-repeat left top;
        width: 40px;
        height: 40px;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        margin-left: -20px;
        display: none;
      }

      .loaded .icon-load {
        display: block;
      }
    }
    /*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/

    .content {
      min-width: $min-width;
      text-align: left;
      width: 100%;
      order: 2;
      -webkit-order: 2;
      flex-grow: 1;
      -webkit-flex-grow: 1;
      background: transparent;
    }


    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
      body {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    @media screen and (max-width: 1200px) {}

    @media screen and (min-width: 992px) {}

    @media screen and (max-width: 991px) {}

    @media screen and (min-width: 768px) and (max-width: 991px) {}

    @media screen and (max-width: 767px) {
      .circle,
      .elipse {
        display: none;
    }

    // Animation   

    @keyframes rotateMoon {
      from {transform: translate(-50%, -50%) rotate(-45deg);}
      to {transform: translate(-50%,-50%) rotate(0deg);}
    }

    @keyframes rotateLogo {
      0% { 
      transform: rotateY(90deg); 
      }  
      50% { 
      transform: rotateY(0deg); 
      }
      100% {
        transform: rotate(-90deg);
      }
    }

    .main-wrapper {      

      .elipse,
      .circle {       
        transform: translate(-50%,-50%) rotate(0deg);       
        animation: fadeIn 2s ease-in-out,
                   rotateMoon 2s ease-in-out;
        animation-iteration-count: 1;
      }      

      .sideline__right {        
        transform: translateY(80%);
        transition: transform 1s linear;
      }

      .sideline__right.animate {
        visibility: visible;
        transform: translateY(0%);
      }

      .layer-2 {   

        .logo.start {
          opacity: 0;
          visibility: hidden;
          transition: all .5s ease-in-out 1.5s;
        }  

        .logo.start.animate {
          visibility: visible;
          opacity: 1;
        } 

        .logo.end {
          visibility: hidden;
          opacity: 0;
          transition: all 1s ease-in-out 1s;
        }  

        .logo.end.animate {
          visibility: visible;
          opacity: 1;
        }    

        .side-logo {              
          .sideline__left_1 {
            height: 151px;
            transform: translateY(-100%);
            transition: transform .4s linear;            
          }
          .sideline__left_2 {
            height: 1px;
            transition: height .8s linear .5s;

          }
          .logo { 
            &.bg {
              animation: fadeIn 1.5s ease-in-out;
            }           
            img {
              transform: rotate(-90deg);
              animation: .5s 1 ease-in-out rotateLogo;                
            }
          }
        }

        .side-logo.animate {
          .sideline__left_1 {                          
            transform: translateY(0%);            
          }
          .sideline__left_2 {                          
            height: 100%;            
          }           
        }
      } 

      .sidebar {

        aside::before {
          animation: fadeIn 2s ease-in-out;
        }   

        .tumb {          
          opacity: 0;
          transition: opacity 2s;
        }
        .tumb.animate {
          opacity: 1;
        }

      }       

    }
