section.contacts,
section.portofino {
  display: flex;
}

aside.contacts,
aside.portofino {
  order: 1;
  flex: 1 0 50%;

  margin: 0;
  margin-left: 150px;

  max-width: calc(50% - 150px);
  padding-right: 3%;

  @media screen and (min-width: 1500px) {
    max-width: calc(50% - 150px);

    &>* {
      max-width: 557px;
    }
  }

  @media screen and (max-width: 1000px) {
    max-width: 100%;
    padding: 0;
    margin: 0;
    max-height: 585px;

    &::after {
      display: none;
    }
  }

  &::before {
    display: none;
  }

  .sidemenu {
    ul {
      justify-content: flex-start;

      li {
        margin-right: 30px;
      }

      @media screen and (max-width: 1000px) {
        justify-content: center;
        li {
          margin: 0 20px; 
        }
      }
    }
  }

  .tabs {
    padding: 0;
    width: 100%;

    @media screen and (min-width: 1001px) {
      margin-top: 20px;
      padding: 15px 0 20px !important;
    }

    @media screen and (max-width: 1000px) {
      text-align: center;
      margin: 20px 0;    
    }

    @media screen and (max-height: 683px) {
      margin-top: 0;
      padding-top: 0 !important;

      span.desc {
        display: none;
      }
    }

    img {
      max-width: 100%;
    }
  }
}

.side2 {
  order: 2;
  display: flex;
  width: calc(50% - 83px);
  justify-content: flex-end;

  @media screen and (max-width: 1000px) {
    width: 100%;
    justify-content: center;
    margin: 40px 0 90px;      
  }
}

.contactform {
  max-width: 600px;
  padding: 0 25px;
  width: 100%;
  position: relative;

  &::before {
    width: 1px;
    background-color: #323232;
    height: 110%;
    left: 0;
    top: 0;
    content: '';
    position: absolute;

    @media screen and (max-width: 1600px) {
      display: none;
    }
  }

  .communicate {
    position: absolute;
    max-height: 100%;
    top: 0;
    left: -30px;

    img {
      width: 20px;
    }

    @media screen and (max-width: 1600px) {
      display: none;
    }
  }

  &__title {
    h4 {
      font-family: $ff-bold;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 42px !important;
      color: #f3f3f3;

      @media screen and (max-width: 480px) {
        font-size: 34px !important;
      }
    }

    .phone,
    .mail {
      display: block;
      font-family: $ff-bold;
      margin: 5px 0;
      color: #f3f3f3;

      a {
        color: #fff;
      }
    }
  }

  &__form {
    span {
      text-transform: uppercase;
      margin-top: 15px;
      display: block;
      font-size: .9em;
      letter-spacing: 1px;
      font-family: $ff-bold;
    }

    a.send {
      text-transform: uppercase;
      color: #f3f3f3;
      display: block;
      text-align: right;
      font-size: 1.15em;
      letter-spacing: 4px;
      width: 100px;
      margin: 0 0 0 auto; 
      margin-top: 25px;
    }

    textarea {
      height: 200px;

      @media screen and (max-height: 743px) {
        height: 100px;
      }
    }
  }
}
