/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/

footer {
 	position: fixed;
 	bottom: 40px;
 	color: #fff;
 	width: 100%;

 	.navbtn__mob {
 		width: 100%;
		text-align: center;

		img {
			display: inline-block;
			cursor: pointer;
		}

		@media screen and (min-width: 1001px) {
			display: none;
		}
 	}

  @media screen and (min-width: 1001px) {
    height: 44px;
    text-align: left;
    z-index: 4;
    order: 3;
    -webkit-order: 3;
    position: relative;
    bottom: initial;
  }

  .wrapper {
    width: 100%;
    padding: 0 15px;
    max-width: 1035px;
    margin: 0 auto;
  }

  nav {
    display: none;

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }

    @media screen and (min-width: 1001px) {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    a {
      font-size: 1.1em;
      color: #fff;
      letter-spacing: 11px;
      transition: all .3s ease-in-out;
      opacity: .5;

      &.active,
      &:hover {
        opacity: 1;
      }

      &:not(.active):hover {
        transform: rotateY(150deg) !important;
      }

      &.active {
        span {
          position: relative;

          &::before {
            position: absolute;
            height: 80px;
            width: 1px;
            background-color: rgba(#fff, .6);
            left: 42%;
            top: -20px;
            content: '';
            transform: translate(-50%, 70px);
            transition: transform 0.3s .5s;
          }

          &::after {
            top: -25px;
            width: 7px;
            height: 7px;
            background-color: #fff;
            content: '';
            border-radius: 50%;
            position: absolute;
            left: 42%;
            transform: translate(-50%, 70px);
            transition: transform 0.3s .5s;
          }
        }
      }

      &.active.animated {
        span {
          &::before {            
            transform: translate(-50%, 0);
          }

          &::after {            
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }
}



/** ANIMATION **/

footer nav > a {
        transform: translateY(44px);
        transition: transform .3s;
      } 

      footer nav > a.animate {
        transform: translateY(0px);
      }  


@media screen and (max-width: 1200px) {}

@media screen and (min-width: 992px) {}

@media screen and (max-width: 991px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 767px) {}
