.blur {
  filter: blur(3px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}

#makeorder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10000;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translate(0%,10%);
  transition: all .2s ease-in-out;  

  &.show {
    visibility: visible;
    opacity: 0.5;
    transform: translate(0%,0%);
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2.3em;
  }

  .contactform__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 520px;

    @media screen and (max-width: 530px) {
      padding: 0 20px;
    }
  }

  .close {
    font-family: $ff-ultralight;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    bottom: 50px;
    font-size: 2.3em;
    cursor: pointer;
    display: block;
    transform: translate(-50%, 0);
    transition: all .3s ease;

    &:hover {
      font-family: $ff-light;
    }

    &::after {
      bottom: -65px;
      content: '';
      position: absolute;
      left: 50%;
      width: 1px;
      height: 63px;
      background-color: #fff;
    }
  }
}
