/*
font-family: 'Roboto', sans-serif;
*/
html {
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #fff;
  color: #000;
  max-width: 1920px;
  min-width: 320px;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.btn {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 400;
/*  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);*/
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px 47px;
  border: 1px solid red;
  outline: none;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  height: 400px;
  text-align: center;
  border: 1px solid transparent;
  position: relative;
  height: 100%;
}

.main-navigation {
  margin-bottom: 50px;
}
.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 30px;
}
.main-navigation ul li {
  display: inline-block;
  font-size: 0;
}
.main-navigation ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 22px;
}

.wrapper-cabinet {
  text-align: center;
}

.cabinet {
  display: inline-block;
}

.order {
  float: right;
}

.cabinet,
.order {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 75px;
  left: 5px;
}

.center-block {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 60%;
  left: 30%;
  padding-left: 68px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.center-block:before {
  content: '';
  position: absolute;
  width: 59px;
  height: 6px;
  background-color: #fff;
  left: 0;
  top: 50px;
}
.center-block h1 {
  padding: 0;
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 6px;
  white-space: nowrap;
  margin-bottom: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.center-block p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-bottom: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-header {
  height: 100vh;
  background-color: #efefef;
  overflow: hidden;
  position: relative;
}

video {
  display: inline-block;
  position: absolute;
  width: 100%;
  /* height: 100%; */
  z-index: 0;
/*  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);*/
  margin-top: -133px;
}

.overl {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
}

/*
font-family: 'Roboto', sans-serif;
*/

/*# sourceMappingURL=main.css.map */