@import "base/reset";
@import "base/fonts";
@import "base/inputs";
@import "utils/variables";


/* Node modules */

// @import "../../node_modules/font-awesome/scss/font-awesome";


/* Components & Layouts */

//@import "components/_jquery.formstyler";
//@import "components/_fancybox";
@import "components/slick";
//@import "components/_mCustomScrollbar";
@import "layout/header";
@import "layout/footer";
@import "layout/aside";
@import "layout/content";
@import "layout/production";
@import "layout/portofino";
@import "layout/contacts";
@import "layout/aboutus";
@import "layout/portfolio";
@import "layout/media";
@import "layout/makeorder";

@keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
    }

.btn {
  color: #fff;
  text-transform: uppercase;
  background-color: #ac9200;
  padding: 11px 12px 9px;
  display: inline-block;
  font-family: $ff-bold;

  &:hover {
    background-color: #af9044;
  }
}

.desc-text {
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.mob-text {
  @media screen and (min-width: 1001px) {
    display: none;
  }
}
