*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
input[type="search"]::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

    
/*
font-family: 'DroidSerif-Italic';
font-family: 'HelveticaNeueCyr-Bold';
font-family: 'HelveticaNeue-Regular';
font-family: 'Helvetica-Regular';
*/
a {
    text-decoration: none;
    cursor: pointer;
}
ul,li {
    list-style: none;
}
.top_header {
    background: url(../img/bg_header_left.png) no-repeat bottom left,
     url(../img/bg_header_right.png) no-repeat bottom right;
    background-position-y: 98%;
        margin-bottom: 25px;
}

img.logo {
    margin-top: 10px;
}

.top_line_nav {
    background-color: #3d3d3d;
    border-radius: 4px;
    box-shadow: inset 0.7px 0.7px 2px rgba(0, 0, 0, 0.5);
    float: right;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    padding: 7px 25px 7px 5px;
    right: 3px;
    position: relative;
}

.top_line_nav li a:hover {
    text-decoration: underline;
}

.top_line_nav li {
    display: inline;
    margin-left: 20px;
}

.top_line_nav li a {
    color: #fff;
    font-family: 'HelveticaNeue-Regular';
    font-size: 14px;
}

.search {
    position: relative;
    float: right;
    margin: 0 auto;
    width: 245px;
    background-color: #404040;
    border-radius: 3px;
    border: 9px solid #404040;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 5px solid #404040;
    right: 3px;
}
.search input {
    width: 93%;
    height: 30px;
    border-radius: 6px;
    background-color: #5e5b5b;
    box-shadow: inset 1.4px 1.4px 3px rgba(0, 0, 0, 0.75);
    color: #fff;
    padding-left: 15px;
    border: 0px solid #2f2e2e;
}

.search input[type="search"]::-webkit-input-placeholder {
    color: white;
    font-family: 'HelveticaNeue-Regular';
    font-size: 14px;
}

.search button {
    border: none;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
}
.search button {
    background: url(../img/src_icon.png) no-repeat;
}

.top_menu {
    background: url(../img/noise1.png);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.top_menu_list li {
    display: inline-block;
    border-right: 1px solid #2d2d2d;
    padding: 15px 20px 20px 20px;
}

.top_menu_list li a {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    color: #ddd;
    font-family: 'HelveticaNeueCyr-Bold';
    font-size: 13px;
}
.top_menu_list{
    padding: 0;
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
button.topl_btn {
    background-color: transparent;
    border: none;
    font-size: 17px;
    position: absolute;
    bottom: 68px;
    left: 5px; 
    display: none;
}

button.top_mnu_btn.hidden-sm.hidden-md.hidden-lg {
    color: white;
    padding: 14px 19px 18px 22px;
    /* padding: 16px; */
    background-color: transparent;
    border: none;
}

.drop_menu {
    display: none;
    position: absolute;
    z-index: 12;
}

.drop_menu li{
    display: block;
    background: url(../img/noise1.png);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    margin-left: -38px;
    
}

.btm_line {
      height: 10px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.12) 0%, rgba(255, 255, 255, 0.12) 100%);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    margin: -11px 0 0 0;
}
.social_links {
    position: absolute;
    right: 22px;
    bottom: 20px;
}

.social_links a {
    margin-right: 5px;
}

.baner_slider {
    background: url(../img/bg-baner1.png);
    background-size: contain;
}

.baner_line {
    height: 5px;
    background-color: #4e4d4d;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    margin: 5px 0;
}

.big_slide {
    float: left;
    padding: 15px 25px 15px 15px;
}

.big_slide img {
    box-shadow: 1.4px 1.4px 5px rgba(0, 0, 0, 0.75);
}

.small_slide {
    color: #fff;
}

.small_slide h2 {
    font-family: 'HelveticaNeue-Regular';
    font-size: 24px;
    font-weight: 400;
    padding-top: 50px;
    margin: 0;
}

.small_slide p {
    font-family: 'DroidSerif-Italic';
    font-size: 14px;
    line-height: 24px;
}
    
.icon_preview {
    position: absolute;
    bottom: 12%;
    right: 15px;
    background-color: #1f1e1e;
  }

.icon_preview img {
    opacity: 0.3;
}

.current img {
    opacity: 1;    
}

.icon_preview li {
    float: left;
    padding: 10px 53px 10px 0;
    background-color: #1f1e1e;
    box-shadow: 1.4px 1.4px 5px rgba(0, 0, 0, 0.3);
}

.preview_icon {
    background-color: #1f1e1e;
box-shadow: 1.4px 1.4px 5px rgba(0, 0, 0, 0.3);
}



.slider {
    margin: 30px 0 50px;
}

.slide_item {
    background: url(../img/carusel/carulf.png);
    border: 1px solid #cecece;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    margin: 0 19px;
}

.slide_item span {
    background: url(../img/carusel/tapper.png) no-repeat;
    position: absolute;
    z-index: 2131;
    top: -2px;
    font-size: 16px;
    font-family: 'DroidSerif-Italic';
    width: 18%;
    height: 18%;
    text-align: center;
    padding: 4px 11px;
    left: 10%;
    color: #fff;
}

.slide_item span {
    background: url(../img/carusel/tapper.png) no-repeat;
}

span.sp1 {
    top: 0px;
}

.slide_item img {
    display: block;
    padding: 10px;
    width: 100%;
}

.slide_item p {
    color: #393939;
    font-family: 'DroidSerif-Italic';
    font-size: 13px;
    line-height: 18px;
    margin: 0 10px;
}

.slide_item button {
    width: 80px;
    height: 28px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: white;
    font-family: 'HelveticaNeue-Regular';
    font-size: 12px;
    background-color: #484848;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    border: 1px solid gainsboro;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 2px white;
}
.slide_item form {
    text-align: right;
    margin: 0 10px 10px 0;
}

.next_button, .prev_button {
    background: url(../img/noise1.png);
    color: white;
    width: 33px;
    height: 33px;
    text-align: center;
    border-radius: 50%;
    padding: 8px;
    position: absolute;
    z-index: 22;
    font-size: 12px;
    top: 41%;
    cursor: pointer;
}

.next_button {
    right: 0;
}

.prev_button {
    left: 0;
}

.post button {
    width: 160px;
    height: 45px;
    background-color: #313030;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    border: 1px solid gainsboro;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 2px white;
    text-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.75);
    color: white;
    font-family: 'HelveticaNeue-Regular';
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

form.post i {
    font-size: 14px;
    margin-right: 10px;
}

/*                    ***  col-9  ***                 */

/*----------------------ARTICLES----------------------*/
.articles_list{
padding: 0;    
}

.articles_caption h2 {
    color: #2d2c2e;
    font-family: 'HelveticaNeue-Regular';
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
}

.articles_caption p {
   font-family: 'DroidSerif-Italic';
    font-size: 15px;
    color: #090909;
    line-height: 20px;
    float: left;
    margin: 0;
}

.another {
    color: #676464;
}

.line {
    border-left: 1px solid #676464;
    height: 18px;
    margin: 0 14px;
}

.articles_caption form {
    color: white;
    font-family: 'DroidSerif-Italic';
    font-size: 14px;
    float: right;
    margin-top: -19px;
}

.articles_caption form button {
    width: 116px;
    height: 36px;
    background-color: #484848;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    border: 1px solid gainsboro;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 2px white;
}

.articles_photo {
    background: url(../img/carusel/carulf.png);
    border: 1px solid #cecece;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
}

.articles_photo img {
    display: block;
    padding: 15px;
    width: 100%;
}

.articles_text{
    color: #353535;
    font-family: 'DroidSerif-Italic';
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 35px;
}

.articles_info {
    color: #060807;
    font-family: 'HelveticaNeue-Regular';
    font-size: 14px;
    font-weight: 400;
    float: right;
}

.articles_info::before {
    content: '+';
    color: white;
    background-color: black;
    width: 11px;
    height: 11px;
    right: 90px;
    padding-left: 1px;
    line-height: 8px;
    margin-top: 4px;
    border-radius: 50%;
    position: absolute;
}

.articles_list li hr {
    background: url(../img/articles/hr_bg.png);
    height: 6px;
    margin-bottom: 50px;
    opacity: 0.25;
}

/*---------------TABS---------------*/

.tabs {
	position: relative;
	margin: 0 auto;
    margin-bottom: 30px;
}
.tabs label {
    color: #555;
    background: url(../img/tabs/bg_tabs.png);
    cursor: pointer;
    display: block;
    border-left: 1px solid #cecece;
    border-top: 1px solid #cecece;
    /* border: 1px solid #cecece; */
    float: left;
    height: 45px;
    padding: 0 8px;
    line-height: 45px;
    position: relative;
    top: 1px;
    right: 0px;
    text-align: center;
    color: #313030;
    font-family: 'HelveticaNeue-Regular';
    font-size: 14px;
    font-weight: 400;
}

.tabs input {
	position: absolute;
	left: -9999px;
}

#tab_1:checked ~ #tab_l1,
#tab_2:checked ~ #tab_l2,
#tab_3:checked ~ #tab_l3 {
        background: #fff;
    border: 1px solid #cecece;
    border-right: none;
    border-bottom: none;
    /* border-top: none; */
    top: 1px;
    z-index: 3;
}
#tab_3:checked ~ #tab_l3,
label#tab_l3 {
    border-right: 1px solid #cecece;
}

.tab_list {
    padding: 0 15px;
} 

.tabs_cont {
    background: #fff;
    position: relative;
    z-index: 2;
    border: 1px solid #cecece;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.tabs_cont > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3 {
	position: static;
	left: 0;
	opacity: 1;
}

.tab_list li img {
    float: left;
}

.tab_list li h3 {
    color: #313030;
    font-family: 'Helvetica-Regular';
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 5px 71px;
    line-height: 16px;
}

.tab_list li p {
    color: #353535;
    font-family: 'DroidSerif-Italic';
    font-size: 12px;
    margin: 0 0 5px 71px;
}

.tab_list li hr {
    background: url(../img/articles/hr_bg.png);
    height: 5px;
    opacity: 0.25;
    margin: 15px 0;
}

/*----------Form(email)------------*/

.email_form {
    background-color: #f8f6f6;
    border: 1px solid #cecece;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 25px;
}

.email_form h2 {
    font-family: 'DroidSerif-Italic';
    color: #383434;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0px 0 15px;
}

.email_form input {
    padding-left: 15px;
    margin-bottom: 15px;
    width: 100%;
    background-color: white;
    border: 1px solid #eaeaea;
    color: #383434;
    font-family: 'HelveticaNeue-Regular';
    font-size: 14px;
    font-weight: 400;
}

.email_form button {
    float: right;
    width: 73px;
    height: 27px;
    background-color: #484848;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    border: 1px solid gainsboro;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 2px white;
    font-family: 'HelveticaNeue-Regular';
    color: white;
    font-size: 14px;
    font-weight: 400;
}

/*----------Ads Baner---------*/
.ads {
    float: left;
    width: 125px;
    margin: 0 3px 4px 3px;
    cursor: pointer;
}

.pages {
    background-color: white;
    border: 1px solid #cecece;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15); 
    font-family: 'HelveticaNeue-Regular';
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}

/*-----------PAGES--------------*/
.pages p {
    background: url(../img/tabs/bg_tabs.png);
    font-size: 18px;
    margin: 0;
    padding: 10px 0 10px 25px;
}

ul.pages_list,
ul.pages_list ul{
    padding-left: 10px;
}

ul.pages_list li:hover {
    background-color: rgba(237, 237, 237, 0.6);
}

.pages_list {
    margin-left: 20px;
    margin-top: 10px;
}

.pages_list li a {
    background: url(../img/arrow_pages.png) no-repeat 0% 63%;
    padding-left: 17px;
    color: #353535;
    font-size: 16px;   
    line-height: 26px;
}
/*---------twitter_page--------*/

.twitter_page {
    background-color: white;
    border: 1px solid #cecece;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.twitter_page img {
    position: absolute;
    right: 20px;
    margin-top: -25px;
}

.twitter_page h2 {
    margin: 0;
    color: #383434;
    font-family: 'HelveticaNeue-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.twitter_page p {
    color: #353535;
    font-family: 'DroidSerif-Italic';
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}

.twitter_page span {
    color: #0854D2;
    font-family: 'DroidSerif-Italic';
    font-size: 14px;
    line-height: 18px;
}
/*---------Widjet--------*/
.widjet {
    background-color: white;
    border: 1px solid #cecece;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    padding: 17px;
}

.widjet h2 {
    margin: 0 0 10px 0;
    color: #383434;
    font-family: 'HelveticaNeue-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.widjet_list{
    margin: 0;
    padding: 0;
}

.widjet_list li {
    float: left;
    padding: 0 0 12px 12px;
}

.widjet_list li:first-child,
.widjet_list li:nth-child(4) {
    padding-left: 0;
}

/*     ****   FOOOTER    ****        */

/*----------Footer_topline----------------*/

.topline {
    background: url(../img/footer_top_bg.png);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.f_topline_content {
    margin: 20px 0 15px 0;
}

.f_topline_content span {
    background: url(../img/footer_tl_icon.png) no-repeat;
    color: white;
    font-family: 'HelveticaNeue-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    float: left;
    display: block;
    padding: 6px 0 0 15px;
    margin-right: 20px;
    height: 37px;
    width: 129px;
}

.f_topline_content p {
    color: white;
    font-family: 'DroidSerif-Italic';
    font-size: 14px;
    line-height: 18px;
    max-width: 92%;
    margin: 14px 0;
}

.f_topline_content a {
    position: absolute;
    right: 15px;
    top: 14px;
}
/*----------Footer_bottomline----------------*/
.bottomline {
    background: url(../img/footer_bg.png) no-repeat;
    background-position-y: 1%;
}

.footer_text h2, .footer_quicklinks h2,
.footer_pages h2, .footer_categories h2 {
    text-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.75);
    color: white;
    font-family: 'HelveticaNeue-Regular';
    font-size: 22px;
    font-weight: 400;
}

.footer_quicklinks, .footer_pages,
.footer_categories {
    padding-left: 50px;
}

.footer_text img {
    float: left;
    margin: 0 5px 4px 0;
}

.footer_text p {
    color: white;
    font-family: 'HelveticaNeue-Regular';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.footer_text .articles_info {
    color: white;
    float: left;
    margin-left: 18px;
    margin-top: 20px;
}

.footer_text .articles_info::before {
    content: '+';
    color: black;
    background-color: white;
    font-weight: 700;
    left: 16px;
}

.footer_list {
    margin: 0;
    padding: 0;
}

.footer_list li {    
    border-bottom: 1px dashed #524f4f;
    width: 88%;
}

.footer_list a {
    color: white;
    font-family: 'HelveticaNeue-Regular';
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
}

.footer_list .current a {
    color: #098ec5;
}

.footer_btn {
    background-color: transparent;
    border: none;
    display: none;
}
/*
font-family: 'DroidSerif-Italic';
font-family: 'HelveticaNeueCyr-Bold';
font-family: 'HelveticaNeue-Regular';
font-family: 'Helvetica-Regular';
*/