@media only screen and (max-width:1200px){h1{    font-size:3.45em}
.logo p{  margin-right:30px}
.logo .logotip{margin-right:80px}
.bonus_list li{    background:url(../img/cheked_icon.png)no-repeat top left,     url(../img/line.png)no-repeat 27px 29px}
 .separator{    -moz-margin-start:-34px}
 .sleva_price{    padding:15px 8px 0px 166px}
.max_pleasure{    background:url(../img/pleasure_bg.png)no-repeat 397px -57px;     background-color:#fff}
.gallery.col-md-8{    padding:0}
.gallery ul{ margin-left:0}
.gallery li{    margin:0 8px 8px 0}
  .bottom{    background:url(../img/bottom_bg.png)no-repeat -34% 100%}

}

@media only screen and (max-width:992px){.logo .logotip{    margin-right:25px}
.logo p{    margin-right:17px}
h1{    font-size:2.7em}
.left_content h4{    font-size:1em}
.top_content{    height:637px}
.bonus_list li{background:url(../img/cheked_icon.png)no-repeat top left,     url(../img/line.png)no-repeat 5px bottom; font-weight:400; font-family:'PT Sans',sans-serif; font-size:0.7em; line-height:25px}
.bonus_list li:last-child{    font-size:0.7em}
.center_content p{    font-size:0.7em}
p.procent img{    width:95%}
.couter_text{    margin-left:159px;     font-size:0.7em}
form{    width:225px}
.form_header{    background:url(../img/form_bg.png)no-repeat 0px -53px;     height:100px;     width:225px;     background-size:100%}
.full_price{    font-size:0.9em;     padding:5px 15px;     line-height:35px}
.full_price .rub{    font-size:2em}
.sleva_price{    padding:5px 8px 0px 127px;     line-height:22px;     font-size:0.9em}
.sleva_price .sleva{    font-size:2em}
input[type="text"]{    width:87%}
button.form_button{    width:87%;     font-size:1em;     padding:9px 5px 15px 35px}
.rect{    padding:6px 18px;     bottom:63px;     left:30px}
p.lock{    background:url(../img/lock.png)no-repeat 18px center;     font-size:0.7em;     padding:12px}
.max_pleasure{    background:url(../img/pleasure_bg.png)no-repeat 272px -57px;     background-color:#fff;     padding:15px 20px}
.max_pleasure h2{     font-size:1.8em;     line-height:33px}
.max_pleasure p{    font-size:0.8em;     line-height:25px}
.advantages h2{    font-size:2em}
  .gallery{    margin-bottom:50px}
.gallery li img{    width:100%}
.gallery li{    float:left;     width:31%;     height:174px;     font-size:0.9em;     line-height:16px}
.bottom{    background:url(../img/bottom_bg.png)no-repeat -90px 119%;     background-size:100%}

.footer_content{    background:url(../img/footer_bg.png)no-repeat 77px 75%;  background-color:#fff;  height:445px;  padding:10px 20px}
.footer_text{ width:55%;  font-size:0.9em;  line-height:22px}
}

@media only screen and (max-width:768px){.logo p{    margin-right:17px;     font-size:0.7em}
.logo .logotip{    margin-right:40px;     width:100%}
.img_top{    margin-top:-8px;     width:16%}
h1{    font-size:1.6em}
  .left_content h4{    font-size:1.2em}
.bonus_list li{    font-size:1em}
.bonus_list li:last-child{    font-size:1em}
.left_content img{    width:50%}
.top_content{    height:633px;     background:url(../img/top_bg.png)no-repeat 42px 58%;     background-size:160%}
p.procent img{    width:70%}
.center_content{    position:absolute;     right:7px;     width:48%}
.procent{    padding-top:310px}
.couter_text{    margin-left:180px;     padding-top:12px;     font-size:1.3em}
form{    width:400px;     margin:15px auto}
.form_header{    background:url(../img/form_bg.png)no-repeat 0px -99px;     height:190px;     width:100%;     background-size:100%}
.sleva_price{    padding:5px 8px 0px 238px;     font-size:1.2em;     line-height:53px}
.full_price{    font-size:1.2em;     padding:10px 45px;     line-height:47px}
input[type="text"]{    width:92%}
button.form_button{    width:92%;     font-size:1em;     padding:9px 5px 15px 35px}
.rect{    bottom:84px}
p.lock{    background:url(../img/lock.png)no-repeat 52px center;     font-size:1.1em;     padding:12px}
.middle_content{    background:url(../img/question_bg.png)no-repeat center -12%;     background-size:121%;     text-align:center}
.middle_content h2{    font-size:2em;     line-height:25px}
.middle_content p{    font-size:1em}
  .question{    width:100%;    height:200px}
.question h4{    font-size:1.2em;     background:url(../img/one.png)no-repeat 61px 26px;     background-size:9%;     padding:16px 16px 19px 62px}
.question button{    background:url(../img/button_eclipse.png)no-repeat -84px -44px;     width:38%;     height:59px;     background-color:#fc481a;     font-size:1em}
.max_pleasure{    background:url(../img/pleasure_bg.png)no-repeat 234px -40px;     background-size:cover;     background-color:#fff;     height:310px}
.pleasure_text{    width:100%;     text-align:left}
.max_pleasure .pleasure_text h2{width:70%}
.max_pleasure .pleasure_text p{width:52%}
.middle_content h2{    font-size:1.5em;     width:100%;     line-height:25px}
.middle_content p{    width:100%;     font-size:0.7em;     line-height:16px}

    .advantages h2{    font-size:1.5em}
.gallery li{    float:left;     width:31%;     height:166px;     font-size:0.9em;     line-height:16px}
.gallery li p{    font-size:0.65em}
.bottom{    background:url(../img/bottom_bg.png)no-repeat 44px 23%;     background-size:82%}
.bottle img{    width:30%;     margin:15px 140px}
.footer_content h2{    font-size:2em}
  .footer_text{    width:58%;     font-size:0.7em;     line-height:20px}
.footer_content{    background:url(../img/footer_bg.png)no-repeat 5px 99%;  background-color:#fff;  background-size:cover;  height:440px}
 .another_style img{ margin-left:40px;  width:41%}
.hidd{display:block}
}

@media only screen and (max-width:480px){.logo p{    margin-right:0px;     font-size:0.59em}
h1{    font-size:1.8em}
.left_content h4{    font-size:1em}
.bonus_list li{    font-size:0.8em}
.bonus_list li:last-child{    font-size:0.8em}
.top_content{    height:633px;     background:url(../img/top_bg_opacity.png)no-repeat -68px 58%;     background-size:160%}
.center_content{    position:absolute;     right:15px;     width:48%}
p.procent img{    width:83%}
.procent{    padding-top:255px}
.couter_text{    margin-left:-33px;     padding-top:66px;     font-size:1.3em}
.counter{    margin-left:40px}
form{    width:250px;     margin:15px auto}
.form_header{    background:url(../img/form_bg.png)no-repeat 0px -58px;     height:119px;     width:100%;     background-size:100%}
.full_price{    font-size:1.1em;     padding:2px 21px;     line-height:36px}
.sleva_price{    padding:4px 8px 0px 138px;     font-size:1.1em;     line-height:22px}
input[type="text"]{    width:88%}
p.lock{    background:url(../img/lock.png)no-repeat 24px 9px;     font-size:0.7em;     padding:12px}
button.form_button{    width:88%}
.middle_content{    background:url(../img/question_bg.png)no-repeat center 3%;     background-size:121%;     text-align:center}

.question{    width:100%;     height:120px;     margin-bottom:20px}
.question h4{    font-size:0.9em;     background:url(../img/one.png)no-repeat 5% 52%;     background-size:9%;     padding:1px 16px 0px 34px;     line-height:45px}
.question button{    background:url(../img/button_eclipse.png)no-repeat -111px -51px;     width:36%;     height:47px;     background-color:#fc481a;     font-size:0.8em;     margin:0 11px}
.max_pleasure{    background:url(../img/pleasure_bg.png)no-repeat 251px 66px;     background-size:100%;     background-color:#fff;     height:326px}
.pleasure_text{    width:100%;     text-align:left}
.max_pleasure .pleasure_text h2{    width:100%;     line-height:20px;     font-size:1.3em}
.max_pleasure .pleasure_text p{    width:80%}
.advantages h2{    font-size:1.5em}
.bottle img{    width:49%;     margin:0 48px 30px}
.bottom{    background:url(../img/bottom_bg.png)no-repeat -37px 21%;     background-size:119%}
.gallery li{    float:left;     width:45%;     height:158px;     font-size:0.9em;     line-height:16px;     margin:0 9px 9px 0}
.footer_content{    background:url(../img/footer_bg.png)no-repeat 32px 126%;  background-color:#fff;  background-size:111%;  height:480px}
.footer_text{ width:82%;  font-size:0.7em;  line-height:16px}
.another_style{ margin-top:80px}
.another_style img{ margin-left:6px;  width:47%;  margin-top:5px}

}

@media only screen and (max-width:319px){}

@media only screen and (min-width:320px){}

@media only screen and (min-width:480px){}

@media only screen and (min-width:768px){}

@media only screen and (min-width:992px){}
 
@media only screen and (min-width:1200px){}